<!DOCTYPE HTML>
<html class="html">
    <head>
        <title>Train</title>
        <script type="text/javascript" src="/script/jquery-1.7.2.min.js" ></script>
        <script type="text/javascript" src="/script/jquery.js"></script>
        <link href="/css/train.css" rel="stylesheet" type="text/css" />
    </head>

    <body >

        <div style="width:100%; height:10%;">
            <table  style="width:100%; height:100%;" border="2" align="left">
                <tr style="width:100%; height:100%;"><td align="center">bhavin</td></tr>				
            </table>
            <br/>
            <table border="1" style="width:100%; height:3%; margin-top: 10px; border-bottom-style: none;border-top-style: none;border-left-style: none; border-right-style: none; " align="left">
                <tr style="width:100%; height:100%;" >
                    <td  class="menu_item" align="center" style="background-color:#ffcccc;" id="home"  valign="top"><a href="/cgi-bin/home/index.cgi" ><table class="menu"><tr><td>Home</td></tr></table></a></td>
                    <td  class="menu_item" align="center" id="schedule"  valign="top"><a href="/cgi-bin/schedule/schedule.cgi" ><table class="menu"><tr><td>Schedule</td></tr></table></a></td>
                    <td  class="menu_item" align="center" id="fare"  valign="top"><a href="/cgi-bin/getfare/getfare.cgi" ><table class="menu"><tr><td>Get Fare</td></tr></table></a></td>
                    <td  class="menu_item" align="center" id="reserv"  valign="top"><a href="/cgi-bin/reservation/reservation.cgi" ><table class="menu"><tr><td>Reservation</td></tr></table></a></td>
                </tr>				
            </table>

        </div>	

        <div style="width:100%; height:90%;"><br>
            <table style="width:100%; height:90%; border-bottom-style:outset; border-color:brown; "  >

                <tr ><td  style="width:15%; height:30%;  border: none; padding-top:25px;" valign="top">
                        <table class="home_menu" border="1">
                            <tr style="height: 15%; color:white; background-color:brown;"><th>Information</th></tr>
                            <tr style="height: 25%; "><td class="menu_item" align="center"  id="train_info"  ><a href="/cgi-bin/home/index.cgi" ><table class="menu"><tr><td>Train Information</td></tr></table></a></td></tr>
                            <tr style="height: 25%; "><td class="menu_item" align="center" style="background-color:#ffcccc;" id="station_info" ><a href="/cgi-bin/home/station_information.cgi" ><table class="menu"><tr><td>Station Information</td></tr></table></a></td></tr>
                            <tr style="height: 25%; "><td class="menu_item" align="center"  id="seat_info"  ><a href="/cgi-bin/home/seat_availability.cgi" ><table class="menu"><tr><td>Seat Availability</td></tr></table></a></td></tr>
                        </table>
                    </td>
                    <td rowspan="2">   
                        <table  style=" width:95%; height:95%;   margin-top: 20px; margin-left: 20px; background-color: white; border-bottom-style:none;border-right-style: none;border-left-style:outset;border-top-style:outset; border-left-color: brown;border-top-color: brown; " >
                            <tr style="height: 40%;"  border="none">
                                <td align="center"><img src="/image/train_staion.JPG"/></td>
                            </tr>
                            <tr style="height: 60%;"><td>
                                    <form style="width: 100%;height: 87%;" action="" method="post">
                                        <table class="form">
                                            <tr style="width:100%;height:30%;">
                                                <td  align="center">
                                                    <table><tr>    
                                                            <td style="width: 40%; color: brown;">Train Number:</td>
                                                            <td style="width: 60%; color: brown;">
                                                                <select id="tr_no_drop_down" name="tr_no_drop_down" style="width:150px;font-size:14px;color:brown; background-color: white; border-style:outset;" >
                                                                    <option value="">-select-</option>
                                                                    <TMPL_LOOP NAME=TRAIN_NO>
                                                                        <option value="<TMPL_VAR NAME=TR_NO>"><TMPL_VAR NAME=TR_NO></option>
                                                                    </TMPL_LOOP>
                                                                </select>

                                                            </td>    
                                                        </tr> </table>
                                                </td>
                                                <td  align="center">
                                                    <table><tr>    
                                                            <td style="width: 40%; color: brown;">Train Name:</td>
                                                            <td style="width: 60%; color: brown;">
                                                                <select id="tr_name_drop_down" name="tr_name_drop_down" style="width:150px;font-size:14px;color:brown; background-color: white; border-style:outset;" >
                                                                    <option value="">-select-</option>
                                                                    <TMPL_LOOP NAME=TRAIN_NAME>
                                                                        <option value="<TMPL_VAR NAME=TR_NAME>"><TMPL_VAR NAME=TR_NAME></option>
                                                                    </TMPL_LOOP>
                                                                </select>

                                                            </td>    
                                                        </tr> </table>

                                                </td>
                                            </tr>
                                            <tr style="width: 100%;height:30%;">
                                                <td align="center">
                                                    <table><tr>    
                                                            <td style="width: 40%; color: brown;" align="left">Station:</td>
                                                            <td style="width: 60%; color: brown;">
                                                                <select id="tr_class_drop_down" name="tr_class_drop_down" style="color:brown;width:150px;font-size:14px; background-color: white; border-style:outset;" >
                                                                    <option value="">-select-</option>
                                                                    <TMPL_LOOP NAME=STATION_NAME>
                                                                        <option value="<TMPL_VAR NAME=ST_NAME>"><TMPL_VAR NAME=ST_NAME></option>
                                                                    </TMPL_LOOP>

                                                                </select>

                                                            </td>    
                                                        </tr> </table>
                                                </td>
                                                <td align="center">
                                                    <table><tr>    
                                                            <td style="width: 40%; color: brown;" align="left">Day:</td>
                                                            <td style="width: 60%; color: brown;">
                                                                <select id="tr_quota_drop_down" name="tr_quota_drop_down" style="width:150px;font-size:14px;color:brown; background-color: white; border-style:outset;" >
                                                                    <option value="">-select-</option>
                                                                    <option value="sun">sun</option>
                                                                    <option value="mon">mon</option>
                                                                    <option value="tue">tue</option>
                                                                    <option value="wen">wen</option>
                                                                    <option value="thu">thu</option>
                                                                    <option value="fri">fri</option>
                                                                    <option value="sat">sat</option>
                                                                    <option value="daily">daily</option>

                                                                </select>

                                                            </td>    
                                                        </tr> </table>

                                                </td>
                                            </tr>
                                            <tr  style="width:100%;height:30%;">
                                                <td colspan="2" align="center" >
                                                    <input style="width: 30%;font-size:14px; color: brown;" type="submit" name="train_info_submit" value="Search" />    

                                                </td>
                                            </tr>
                                        </table>

                                    </form>

                                </td></tr>
                        </table>
                    </td>
                </tr>
                <tr> <td style="height: 50%;"></td></tr>
            </table>
        </div>
        <div>
            <footer>
                <h10>bhavin</h10>
            </footer>
        </div>

    </body>
</html>
