<html>
	<head>
		<title></title>
                <script type="text/javascript"> 
                function click()
                {
                    
                        window.openDialog(url, name, features, arg1, arg2)
                }
            </script>
	</head>
	<body>
		<p>bhavin</p>
                <form method="get" action="">
                <input type="hidden" value="true" name="hidden" />

		<table border="3" ><tr><th></th><td></td><td></td><td></td></tr></table>
                <button >bhavin</button>
                </form>
        </body>
</html>
