<!DOCTYPE HTML>
<html class="html">
    <head>
        <title>Train</title>
        <script type="text/javascript" src="/script/jquery-1.7.2.min.js" ></script>
        <script type="text/javascript" src="/script/jquery.js"></script>
        <link href="/css/train.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/css/calendar.css"  media="screen" />
        <script type="text/javascript" src="/script/calendar.js"></script>
        <link rel="ICON" href="/image/favicon.ico" />
    </head>

    <body>

        <div style="width:100%; height:10%;">
            <table  style="width:100%; height:100%;"  align="left">
                <tr style="width:100%; height:100%;"><td align="center"><image src="/image/main_header_big3_white.jpg" alr="Header"></td></tr>				
            </table><br/>
            <table border="1" style="width:100%; height:3%; margin-top: 10px; border-bottom-style: none;border-top-style: none;border-left-style: none; border-right-style: none; " align="left">
                <tr style="width:100%; height:100%;" >
                    <td  class="menu_item" align="center"  id="home"  valign="top"><a href="/cgi-bin/home/index.cgi" ><div class="menu">Home</div></a></td>
                    <td  class="menu_item" align="center" id="schedule"  valign="top"><a href="/cgi-bin/schedule/schedule.cgi" ><div class="menu">Schedule</div></a></td>
                    <td  class="menu_item" align="center" style="background-color:#ffcccc;" id="fare"  valign="top"><a href="/cgi-bin/getfare/getfare.cgi" ><div class="menu">Get Fare</div></a></td>
                    <td  class="menu_item" align="center" id="reserv"  valign="top"><a href="/cgi-bin/reservation/reservation.cgi" ><div class="menu">Reservation</div></a></td>
                </tr>				
            </table>

        </div>	

        <div style="width:100%; height:84.5%; ">
            <form name="fare_enq" onsubmit="return get_fare_submit();" style="width:100%;height: 80%; padding-top: 150px;" action="/cgi-bin/getfare/fare.cgi" method="post" >
                <table style="width:60%;height: 75%;  margin-left: 230px; border-style:dashed; border-color: brown;">
                    <tr style="width:60%;height: 75%; ">
                        <td style="width:60%;height: 75%; ">
                            <table style="width:80%;height: 80%; margin-left: 65px; color: brown" >
                                <tr style="width:100%;height: 12.5%;">
                                    <td style="width:50%;" class="fare">
                                        Train Number:
                                    </td>
                                    <td style="width:50%;" align="center">
                                        <select id="tr_no_drop_down" name="tr_no_drop_down" class="fare_dd" >
                                            <option value="">-select-</option>
                                            <TMPL_LOOP NAME=TRAIN_NO>
                                                <option value="<TMPL_VAR NAME=TR_NO>"><TMPL_VAR NAME=TR_NO></option>
                                            </TMPL_LOOP>
                                        </select>
                                    </td>
                                </tr>    
                                <tr style="width:100%;height: 12.5%;">
                                    <td style="width:50%;" class="fare">
                                        Source Station:
                                    </td>
                                    <td style="width:50%;" align="center">
                                        <select id="tr_source_drop_down" name="tr_source_drop_down" class="fare_dd" >
                                            <option value="">-select-</option>
                                            <TMPL_LOOP NAME=TRAIN_SOURCE>
                                                <option value="<TMPL_VAR NAME=TR_SOURCE_CODE>"><TMPL_VAR NAME=TR_SOURCE> - <TMPL_VAR NAME=TR_SOURCE_CODE></option>
                                                        </TMPL_LOOP>
                                                        </select>
                                                        </td>
                                                        </tr>    
                                                        <tr style="width:100%;height: 12.5%;">
                                                            <td style="width:50%;" class="fare">
                                                                Destination Staition:
                                                            </td>
                                                            <td style="width:50%;" align="center">
                                                                <select id="tr_dest_drop_down"  name="tr_dest_drop_down" class="fare_dd" >
                                                                    <option value="">-select-</option>
                                                                    <TMPL_LOOP NAME=TRAIN_DEST>
                                                                        <option value="<TMPL_VAR NAME=TR_DEST_CODE>"><TMPL_VAR NAME=TR_DEST> - <TMPL_VAR NAME=TR_DEST_CODE></option>
                                                                                </TMPL_LOOP>
                                                                                </select>
                                                                                </td>
                                                                                </tr>    
                                                                                <tr style="width:100%;height: 12.5%;">
                                                                                    <td style="width:50%;" class="fare">
                                                                                        Class:
                                                                                    </td>
                                                                                    <td style="width:50%;" align="center">
                                                                                        <select id="tr_class_drop_down" name="tr_class_drop_down" class="fare_dd" >
                                                                                            <option value="">-select-</option>
                                                                                            <option value="FIRST AC">FIRST AC</option>
                                                                                            <option value="SECOND AC">SECOND AC</option>
                                                                                            <option value="THIRD AC">THIRD AC</option>
                                                                                            <option value="FIRST CLASS">FIRST CLASS</option>
                                                                                            <option value="SLEEPER CLASS">SLEEPER CLASS</option>
                                                                                            <option value="SECOND SEATING">SECOND SEATING</option>

                                                                                        </select>  
                                                                                </tr>    


                                                                                <tr style="width:100%;height: 12.5%;">
                                                                                    <td style="width:50%;" class="fare">
                                                                                        Date
                                                                                    </td>
                                                                                    <td style="width:50%;" align="center">
                                                                                        <input type="text" size="2" MAXLENGTH = "2"  name="lccp_day"  alt="Day" readonly="true" />
                                                                                        <input type="text" size="2" MAXLENGTH = "2"  name="lccp_month"  alt="Month" readonly="true" />
                                                                                        <input type="text" size="4" MAXLENGTH = "4" name="lccp_year"  alt="year" readonly="true" />


                                                                                        <img src ="/image/cal_1.gif" onclick="displayCalendar(document.fare_enq.lccp_day,document.fare_enq.lccp_month,document.fare_enq.lccp_year,'mm-dd-yyyy','04-23-2009',this,0,120,1,'-');"  alt="Calendar"/>

                                                                                    </td>

                                                                                </tr>    
                                                                                <tr style="width:100%;height: 12.5%;">
                                                                                    <td style="width:50%;" class="fare">
                                                                                        Concession:
                                                                                    </td>
                                                                                    <td style="width:50%;" align="center">
                                                                                        <select id="tr_cons_drop_down" name="tr_cons_drop_down" class="fare_dd" style="font-size:9px;" >
                                                                                            <option value="0">none</option>
                                                                                            <TMPL_LOOP NAME=TRAIN_CONS>
                                                                                                <option value="<TMPL_VAR NAME=TR_CONS_VALUE>"><TMPL_VAR NAME=TR_CONS></option>
                                                                                            </TMPL_LOOP>
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>    
                                                                                <tr style="width:100%;height: 12.5%;">
                                                                                    <td colspan="2" style="width:50%;" align="center">
                                                                                        <input type="submit" value="Search"  style="width: 30%; color:brown; font-size: 14px; ">
                                                                                    </td>
                                                                                </tr>    

                                                                                </table>
                                                                                </td>
                                                                                </tr>
                                                                                </table>
                                                                                </form>
                                                                                </div>


                                                                                <footer style="color:brown; text-align:center;border-top-style: solid;"><b>Thank you For using this web-site</b></footer>
                                                                                </body>
                                                                                </html>
